---
import Layout from "@/layouts/Layout.astro";
import GlassHeader from "@/components/GlassHeader";
import HeroSection from "@/components/HeroSection";
import ValdezSection from "@/components/ValdezSection";
import MontenegroSection from "@/components/MontenegroSection";
import SaenzSection from "@/components/SaenzSection";
import RiveraSection from "@/components/RiveraSection";
import ZerpaSection from "@/components/ZerpaSection";
import Footer from "@/components/Footer";
import ParticlesBackground from "@/components/ParticlesBackground";
import ErrorBoundary from "@/components/ui/ErrorBoundary"; // Importa el ErrorBoundary
---

<Layout>
  <ErrorBoundary>
    <GlassHeader client:only="react" />
  </ErrorBoundary>
  <ErrorBoundary>
    <ParticlesBackground client:only="react" />
  </ErrorBoundary>
  <main class="min-h-screen">
    <ErrorBoundary>
      <HeroSection client:only="react" />
    </ErrorBoundary>
    <ErrorBoundary>
      <ValdezSection client:only="react" />
    </ErrorBoundary>
    <ErrorBoundary>
      <MontenegroSection client:only="react" />
    </ErrorBoundary>
    <ErrorBoundary>
      <SaenzSection client:only="react" />
    </ErrorBoundary>
    <ErrorBoundary>
      <RiveraSection client:only="react" />
    </ErrorBoundary>
    <ErrorBoundary>
      <ZerpaSection client:only="react" />
    </ErrorBoundary>
  </main>
  <ErrorBoundary>
    <Footer client:only="react" />
  </ErrorBoundary>
</Layout>
